.img_container img{
    width: 300px;
    height: 220px;
    display: block;    
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px 13px 0 0;
}
.img_container:hover img{
    opacity: 0.3 ;    
}
.img_container{
    width: 300px;
    height: 220px;
    display: block;    
    margin-left: auto;
    margin-right: auto;
    border-radius: 13px 13px 0 0;
    background-color: burlywood;
}

.prc_top{
   background-color: rgba(53, 52, 52, 0.582);
   width:80px;
   border-radius: 13px 0 15px 0;
   color: blanchedalmond;
   position: relative;
   top: -242px;
}
.prc_top p{
    position: relative;
    top :-14px;
    text-align: center;
    font-family: cursive;
}
.prc_top h5{
    text-align: center;
}

.FeatureBtn{
    border: 4px double rgb(54, 36, 19);
    padding: 7px;
    font-size: 40px;
    color: rgb(85, 75, 61);
    position: relative;
    top: -225px;
    margin-left: 28%;
    font-family: cursive;
    opacity: 0;
    text-decoration: none;
}
.img_container:hover .FeatureBtn{
    opacity: 1;
}
.name{
    border:1px solid rgba(163, 117, 80, 0.863);
    width: 298px;
    height: 30px;
    border-radius: 0px 0px 13px 13px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(180, 147, 135, 0.507);
    color: rgb(82, 78, 77);
    font-size: 18px;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 1px 2px rgba(56, 55, 55, 0.712);
}