.title {
  color: rgb(71, 64, 64);
  text-align: center;
  text-shadow: 2px 3px 2px rgb(107, 107, 107);
  font-size: larger;
}

.col {
  width: 150px;
  height: 5px;
  background-color: rgba(192, 144, 86, 0.658);
  text-align: center;
  margin: auto;
  font-variant: small-caps;
}
